@import "~normalize.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MyriadPro", "MyriadPro Bold";
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar {
  width: 100%;
  position: absolute;
  height: 5rem;
  z-index: 30;
  backdrop-filter: brightness(0.8);
  border-bottom: 1px solid rgba(white, 0.3);
  font-family: "Geometria";
  font-size: 0.5rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .container {
    justify-content: space-between;
    padding: 0 1rem;
  }

  &__brand {
    padding: 0 1rem;

    &-image {
      width: 132px;
    }
  }

  .nav__link {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;

    &-phone,
    &-lang {
      color: #53d0fb;
      font-size: 0.7rem;

      &:hover {
        color: white;
        transition: color 500ms ease;
      }
    }

    &-phone {
      margin: 0 0.5rem;
    }
  }
}

.nav {
  display: flex;
  list-style-type: none;

  &__item {
    display: flex;
    padding: 0 1rem;
    position: relative;

    &-langs {
      span {
        color: #53d0fb;
        display: flex;
        align-items: center;
        margin: 0 0.3rem;
      }
    }
  }

  &__link {
    height: 100%;

    &:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 60%;
      height: 1px;
      background-color: #f7b940;
    }
  }
}

.header {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.slider {
  position: relative;
  height: 50vw;
  overflow: hidden;

  &__heading {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: justify;
    padding: 0 3rem;
    z-index: 30;
    color: white;
    max-width: 40%;

    &-text {
      margin: 0.3rem 0;
      text-transform: uppercase;

      &_bold {
        font-family: "MyriadPro Bold";
        font-weight: 900;
      }
    }

    &-image {
      width: 100%;
      margin-bottom: 2rem;
    }

    &-button-group {
      margin: 2rem 0;
      width: 100%;
      display: flex;
    }

    &-btn {
      width: 50%;
      position: relative;
      overflow: hidden;
      color: white;
      border: 1px solid rgba(white, 0.4);
      transition: color 500ms ease;

      &:first-child::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        transition: transform 500ms ease;
        z-index: -1;
      }

      &:last-child::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 500ms ease;
        z-index: -1;
      }

      &:hover {
        color: black;

        &::before {
          transform: translateX(0);
        }
      }
    }
  }

  &__slide {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 50vw;
    background-color: black;

    img {
      width: 100%;
      object-fit: cover;
      pointer-events: none;
      opacity: 0.6;
    }

    &.active {
      z-index: 20;
    }
  }

  &__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    z-index: 25;
  }

  &__btn > img {
    height: 2.75rem;
  }

  &__nav {
    position: absolute;
    display: flex;
    bottom: 1rem;
    z-index: 25;

    &-item {
      width: 5rem;
      height: 0.2rem;
      margin: 0 0.5rem;
      border-radius: 5px;
      background-color: rgba(white, 0.4);
      transition: background-color 500ms ease;

      &.active {
        background-color: rgba(white, 1);
      }

      &.fade {
        background-color: rgba(white, 0.4);
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
}

.slideInLeft {
  animation-name: animateInLeft;
  z-index: 20;
}

.slideInRight {
  animation-name: animateInRight;
  z-index: 20;
}

.slideOutLeft {
  transform: translateX(-100%);
}

.slideOutRight {
  transform: translateX(100%);
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.coyier {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 0;

  &__heading {
    padding: 0 2rem;

    &-content {
      padding: 2rem 0;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    img {
      width: 60%;
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      margin: 1rem 0;
      font-weight: 300;
    }
  }

  &__col {
    width: 50%;

    p {
      margin: 1rem 0;
    }
  }
}

.subtitle {
  &__text {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1.8rem 2.5rem;
  }

  &.bordered {
    border: 3px solid #53d0fb;
  }
}

.technology {
  background-color: #f4f4f4;

  &__content {
    max-width: 1000px;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;

    &-img {
      width: 80%;
    }

    &-text {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 1.5rem;
    }

    &-subtext {
      padding-left: 1rem;
      padding-top: 0.5rem;
    }

    &-title {
      font-size: 4.5rem;
      font-weight: 900;
    }

    &-subtitle {
      font-size: 1.7rem;
      padding-bottom: 0.5rem;
    }
  }
}

.performance {
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 0;

  &__content > .subtitle {
    margin: 0 auto;
  }

  &__block {
    display: flex;
    padding-bottom: 4rem;
  }

  &__col {
    display: flex;
    flex-direction: column;

    &-sm {
      width: 38%;
      padding: 2rem 0;
      position: relative;

      .subtitle {
        position: relative;
        width: calc(100% + 3rem);
        background-color: rgba(white, 0.4);
      }

      .button {
        width: 60%;
        position: absolute;
        bottom: 0;
        margin: 0 1rem;
      }
    }

    &-md {
      width: 62%;
    }
  }

  &__description {
    width: 70%;
    font-family: "Geometria Light";
    font-size: 1.1rem;
    padding: 0 1rem;
    margin: 1rem 0;
  }

  &__img {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }

  .niceties {
    .subtitle {
      transform: translateX(-3rem);
    }

    .performance__description {
      align-self: flex-end;
      text-align: end;
    }

    .button {
      align-self: flex-end;
    }
  }
}

/* Aylen */
.button.button_aylen {
  background: #53d0fb;
  color: black;
  outline: none;
  border: none;
  overflow: hidden;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}

.button_aylen::before,
.button_aylen::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button_aylen::before {
  background: #3f51b5;
}
.button_aylen::after {
  background: black;
}
.button_aylen:hover {
  color: #fff;
  background: none;
}
.button_aylen:hover::before,
.button_aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button_aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

.backdrop {
  width: 100%;
  backdrop-filter: brightness(0.4);
  display: flex;
  justify-content: center;
}

.contacts {
  color: white;
  justify-content: center;
  background: url("../assets/img/macbook-air.jpg") no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    max-width: 1000px;
    padding: 2rem 0;
  }

  &__contacts {
    padding: 1rem;
    width: 30%;
  }

  &__feedback {
    padding: 1rem;
    width: 70%;
  }

  &__title {
    padding: 1rem 1rem;
  }

  &__contact {
    display: flex;
    padding: 1rem;
    p {
      padding-left: 0.75rem;
    }

    &-ico {
      width: 2rem;
      height: 2rem;
      filter: invert(81%) sepia(24%) saturate(6004%) hue-rotate(169deg)
        brightness(105%) contrast(102%);
    }
  }
}

.feedback-form {
  position: relative;
  width: 100%;
  padding: 1rem 0;

  &__row {
    display: flex;
    margin-bottom: 1.2rem;
  }

  &__field {
    display: block;
    padding: 1rem;
    margin: 0 1rem;
    background: none;
    outline: none;
    border: 1px solid white;
    color: white;

    &_text {
      width: calc(100% - 2rem);
      height: 220px;
      margin-bottom: 2rem;
    }
  }

  &__control {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 3rem;

    &-text {
      width: 50%;
      padding-left: 3rem;
      line-height: 1.5rem;
    }
  }

  &__btn {
    width: 150px;
  }
}
